<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdepc.dao.UserMapper">
    <!--目的:为dao接口方法提供sql语句配置
    即针对dao接口中的方法编写我们的sql语句-->

    <select id="getAll" resultType="com.cjq.model.User">
        select * from user
    </select>
    <select id="getUserById" resultType="com.cjq.model.User" parameterType="int">
        select * from user where id=#{id}
    </select>
    <insert id="save" parameterType="com.cjq.model.User">
        insert into user(id,name,age,password) values(#{id},#{name},#{age},#{password})
    </insert>
    <delete id="delete" parameterType="int">
        delete from user where id=#{id}
    </delete>
    <update id="update" parameterType="com.cjq.model.User">
        update user set name=#{name},age=#{age},password=#{password} where id=#{id}
    </update>
</mapper>